body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    /* color: #fff; */
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-group {
    margin-bottom: 20px;
    display: flex;
    background-color: #bbb;
    border-radius: 5px;
    overflow: hidden;
}

.tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: #bbb;
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* Added margin transition */
}

.tab.active {
    background-color: #2980b9; /* Set to the specified blue shade */
    color: #fff;
}

.content {
    padding: 20px;
    border-top: 1px solid #bbb;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.login {
    background-color: #2980b9;
    color: #fff;
}

button.signup {
    background-color: #1c638b;
    color: #fff;
}

button:hover {
    background-color: #155580;
}
